# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
**/node_modules
**/yarn-error.log
# testing
**/coverage

# production
**/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local


glide.lock
# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
# installed platform-specific binaries
**/bin
.DS_Store
.project
**/hfc-key-store
# fabric sdk node modules